SiteName,SiteURL
Marketing Team,https://yourcompany.sharepoint.com/sites/marketing
Sales Department,https://yourcompany.sharepoint.com/sites/sales
Engineering,https://yourcompany.sharepoint.com/sites/engineering
